.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.client-form{
  border-radius: 5px;
  padding: 3em;
  background-color: rgb(150,229,170);
}

.map-patients{
  /* position:absolute; */
  border-radius: 5px;
  padding: 3em;
  background-color: rgb(150,229,170);
  /* overflow-y: scroll; */
}

.physio-form, .map-physios{
  border-radius: 5px;
  padding: 3em;
  background-color:rgb(188,228,238);
}

.session-form {
  border-radius: 5px;
  padding: 3em;
  background-color:rgb(192,180,227);
}

.list{
  border-radius: 5px;
  padding: 3em;
  /* background-color:rgb(228, 255, 155); */
}

