.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.client-form, .map-clients{
  border-radius: 5px;
  padding: 3em;
  background-color: aliceblue;
}

.physio-form, .map-physios{
  border-radius: 5px;
  padding: 3em;
  background-color: rgb(221, 221, 221);
}

.session-form, .map-sessions{
  border-radius: 5px;
  padding: 3em;
  background-color: rgb(255, 252, 221);
}